header {
    background-color: orange;
    color: white;
}
header * {
    display: inline;
    margin: 2px;
    padding-left: 10px;
}
header a:link, header a:visited{
    color: white;
    text-decoration: none;
}

.tag {
    padding-left: 16px;
    font-size: 16px;
}

h4.footer{
    text-align: center;
}