#searchResult {
    margin: 0 auto;
    width: 1500px;
}
#searchBar *{
    margin: 20px;
    display: inline;
}
#search_query {
    width: 800px;
    padding: 10px;
    font-size: larger;
}
#sideBar {
    width:200px;
    float:left;
    background-image: url("../img/vertical.png");
    background-repeat: repeat-y;
    background-position: right;
}
#ranking {
    width:1300px;
    float:left;
}
.rankingItemTitle {
    font-size: 30px;
    padding-right: 10px;
}
.rankingItem {
    padding-left: 20px;
}
.rankingItem > * {
    margin: 5px;
    padding-bottom: 10px;
}
.rankingItemHeader div, .rankingItemFooter div {
    display: inline;
}
.rankingItemHr {
    border: silver dotted;
    border-width:2px 0 0 0;
}