#form{
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
#name, #url {
    width: 400px;
    padding: 10px;

}
#abstract {
    width: 400px;
    height: 350px;
}
#basic {
    width: 520px;
    float:left;
    margin-bottom: 20px;
}
#advanced {
    width: 500px;
    float:left;
    margin-bottom: 20px;
}
#tags {
    width: 500px;
    height: 350px;
}
.submit {
    clear: both;
    border-top-style: solid;
    border-top-color: silver;
    padding-top: 20px;
    text-align: center;
}
#submit {
    width: 200px;
    height: 70px;
    font-size: larger;
    background-color: white;
    border: medium ridge;
    cursor: pointer;
    font-family: Arial;
    margin: 0;
    overflow: visible;
    padding: 20px;
}