#view {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}
.lmTitle {
    font-size: 32px;
    margin-bottom: 20px;
}
#tagEdit { 
    padding-left: 16px;
}
.lmTags{
    margin-bottom: 20px;
}
.lmMain{
    border-style: ridge;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
a.tagEditForm {
    padding-left: 4px;
}
.tagEditForm {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: none;
}
#tags {
    width: 300px;
}
